{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>{% block title %} Reset Password {% endblock %}</title>
</head>
<body>
<div>
<section id="" class="py-10 px-3 text-white">
<div class="mt-6 flex  flex-col w-[400px] bg-gray-800 md:p-6 p-2 rounded-lg mx-auto">
  <img src="{% static 'assets/images/BITA.png' %}" class="ml-32" width="150px" heigh="150px"/>

  <div class="" >
    <form class="flex flex-col">
        {% csrf_token %}
  <input type="email" class="mt-4 w-5xl"  placeholder="Your Email Address" name='email'/>
    <button class="btn-primary mt-4 text-lg" style="width:200px; margin-left:60px; ">Reset Password</button>
    <span class='ml-32 mt-4'>Pas encore de compte? <a href='/register' class='text-blue-600'>Register</a></span>
    </form>
</div>  
</div>
  </section>
</div>
</body>
</html>